@model IE_Clinics.Models.Dominio.Prescricao

@{
    ViewBag.Title = "Prescrição médica";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-head">
                <header>Formulário</header>
                <button id="panel-button"
                        class="mdl-button mdl-js-button mdl-button--icon pull-right"
                        data-upgraded=",MaterialButton">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="panel-button">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                </ul>
            </div>
            <div class="card-body" id="bar-parent">
                @using (Html.BeginForm("Adicionar", "Especialidades", FormMethod.Post, new { @id = "form_sample_1", @class = "form form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID, "ID")
                    @*@Html.Hidden("count", 1)
                        <div class="form-body">
                            <div class="form-group" id="field">
                                <label class="control-label">
                                    Nome do medicamento
                                    <span class="required"> * </span>
                                </label>
                                <input type="text" name="Medicamento" id="med1" class="form-control" />
                                <button type="button" class="btn btn-default add-more" id="b1"><span class="fa fa-plus"></span></button>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-info m-r-20">Salvar</button>
                                        <a href="@Url.Action("Index", "Marcacoes", new { area = "" })" class="btn btn-default">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="field_wrapper">
                        <div class="form-group">
                            <input type="text" name="med1" class="form-control" />
                            <a href="javascript:void(0);" class="add_button" title="Adicionar medicamento"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var addButton = $('.add_button'); //Add button selector
            var wrapper = $('.field_wrapper'); //Input field wrapper
            var x = 1; //Initial field counter is 1

            //Once add button is clicked
            $(addButton).click(function () {
                x++; //Increment field counter

                var fieldHTML = '<div><input type="text" name="med' + x + '" class="form-control" /><a href="javascript:void(0);" class="remove_button"><span class="fa fa-minus"></span></a></div>'; //New input field html

                $(wrapper).append(fieldHTML); //Add field html
            });

            //Once remove button is clicked
            $(wrapper).on('click', '.remove_button', function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
    </script>
}